.banner {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.banner__top {
  display: flex;
  padding-bottom: 30px;
}

.banner__bottom {
  display: flex;
}

.banner__topLeft {
  flex: 0.4;
  margin: 24px;
  padding: 24px;
}

.banner__topLeft > h3 {
  font-size: 32px;
  padding-top: 32px;
}

.banner__topLeft > p {
  padding: 36px 0px;
  line-height: 1.5;
}

.banner__topRight {
  flex: 0.6;
  padding-top: 20px;
}

.banner__topRight > img {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin-top: 1.5rem;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.banner__bottomLeft {
  flex: 0.6;
  height: 400px;
}

.banner__bottomLeft > img {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.banner__bottomRight {
  flex: 0.4;
  margin-left: 2rem;
  padding: 24px;
}

.banner__bottomRight > h3 {
  font-size: 32px;
  padding-top: 32px;
}

.banner__bottomRight > p {
  padding: 36px 0px;
  line-height: 1.5;
}
