.reviewCard {
  height: auto;
  min-height: 280px;
  width: 300px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  overflow: auto;
}

.reviewCard__top {
  height: 60px;
  width: 100%;
  background-color: rgb(130, 64, 196);
}

.reviewCard__middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -35px;
}
.reviewCard__top--name {
  display: flex;
}

.reviewCard__top--name > p {
  padding: 4px;
  
}

.reviewCard__bottom {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.reviewCard__bottom > h4 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
}

.reviewCard__bottom p {
  font-size: 15px;
}
