@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.app {
  background-color: rgba(215, 241, 246, 0.982);
  font-family: "Roboto", sans-serif;
}

.app__body {
  max-width: 1280px;
  margin: 0 auto;
}
